@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Lab6.Models

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Select Quantity</title>
</head>
<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    form {
        max-width: 350px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        background-color: #f5f5f5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    label {
        font-weight: bold;
    }

    input[type="text"],
    input[type="number"] {
        width: 175px;
        padding: 10px;
        margin-bottom: 10px;
        margin-top: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    button[type="submit"] {
        background-color: #007bff;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    button[type="submit"]:hover {
        background-color: #0056b3;
    }
</style>
<body>
    <div class="container">
        <form action="PizzaOrder" method="post">
            <label for="Quantity">How many units of goods do you want to order?</label>
            <input type="number" name="Quantity" id="Quantity" min="1" />
            <br />
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>